language: php

branches:
  only:
    - master

php:
  - 5.4
  - 5.5
  - 5.6

env:
  - OXID_VERSION="v4.9.3"
  - OXID_VERSION="v4.8.9"
  - OXID_VERSION="v4.7.14"

before_script:
  - curl -s https://getcomposer.org/installer | php
  - php composer.phar config -g github-oauth.github.com "${GITHUB_TOKEN}"
  - php composer.phar install --prefer-source
  - mysql -e 'CREATE DATABASE IF NOT EXISTS `oxid`;'
  - bin/oxrun install:shop --oxidVersion="${OXID_VERSION}" --dbUser=root --installationFolder=../ --shopURL=http://local.oxrun --adminUser=admin@local.oxrun --adminPassword=oxrunpassword

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --debug --stop-on-error --stop-on-failure

after_success:
 - php vendor/bin/coveralls -v